/*index.html*/


body {
	background: linear-gradient(to right, #b157c7, #a02424, #4da74d);
	animation: changeColor 9s ease-in-out infinite;
  }
  
  @keyframes changeColor {
	0% {
	  background: linear-gradient(to right, #f40606, #e7b848, #2dcd38);
	}
	33.33% {
	  background: linear-gradient(to right, #e4ff82, #52a1a1, #08a51d);
	}
	66.66% {
	  background: linear-gradient(to right, #b157c7, #a02424, #4da74d);
	}
  }

.indexcontint{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 45px;
}

.links{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	text-justify: auto;
}

.item1:hover{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	background-color: darkorchid;
	border-radius: 5px;
	color: #000000;
	text-decoration: none;
}

.item2:hover{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	background-color: darkorchid;
	border-radius: 5px;
	color:#000000;
	text-decoration: none;
}

.item3:hover{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	background-color: darkorchid;
	border-radius: 5px;
	color:#000000;
	text-decoration: none;
}

.item1{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	border-radius: 5px;
	text-decoration: none;
}

.item2{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	border-radius: 5px;
	text-decoration: none;
}

.item3{
	background-color: transparent;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
	font-size: 40px;
	border-radius: 5px;
	text-decoration: none;
}


footer{
	display: flex;
	font-size: 20px;
	margin: 20px;
	justify-content: flex-end;
	margin-inline: 5%;
}

/*sobre.html*/

/*contato.html*/

/*quiz.html*/

.quiz-container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	background-color: blueviolet;
	background-color: transparent;
}

#botao{
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}
