/*index.html*/
body {
	background-image: linear-gradient(to right, rgb(217, 0, 255), rgb(128, 0, 77), pink);
    text-align: center;
}


h1 {
	font-size: 2em;
}

p {
	font-size: 1.2em;
}

h1,h2,h3{
    font-family: arial;
    font-weight: bold;
    text-align: center;
}

/*sobre.html*/

/*contato.html*/

/*quiz.html*/

.quiz-container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#question {
	font-size: 24px;
	margin-bottom: 20px;
}

#choices {
	display: inline-block;
	text-align: left;
}

#choices label {
	display: block;
	margin-bottom: 10px;
}

#submit {
	margin-top: 20px;
}

#score {
	font-size: 24px;
	margin-top: 20px;
}

#restart {
	margin-top: 20px;
}
